* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    /* font-family: sans-serif; */
    /* background-color: powderblue; */
    background-image: url('./img/Bookbg.png');

}

/* Book */
.book {
    position: relative;
    width: 350px;
    height: 500px;
    transition: transform 0.5s;

}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;

}

.front,
.back {
    /* background-color:bisque; */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
    border-radius: 10px;
}

.front {
    z-index: 1;
    backface-visibility: hidden;

    /* border-left: 3px solid powderblue; */
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center; 
    align-items:center; 
}

.back-content {
    transform: rotateY(180deg)
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* Controller Buttons */
button {
    /* position: relative;
    right :50px; */
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s;
    padding: 20px;
}

button:focus {
    outline: none;
}

button:hover i {
    color: #636363;
}

.nxt {
    width: 50px;
    height: 50px;
    color: gray;
}

/* Paper stack order */
#p1 {
    z-index: 3;
}

#p2 {
    z-index: 2;
}

#p3 {
    z-index: 1;
}

.bg{
    position: relative;
    width: 380px;
    height: 540px;
    top: 5px;
    /* left: 0; */
    /* right: 0; */
    /* right: 30; */
    transform-origin: left;
    transition: transform 0.5s;
}

.backbg{
    position: relative;
    width: 375px;
    height: 530px;
    top: 8px;
    left: 5px;
    transform-origin: left;
    transition: transform 0.5s;
    border-radius: 10px;
}

/* .page1{

    position: absolute;
    width: 100%;
    height: 530px;
    top: 5px;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
    border-radius: 10px;
    background-image: url('./img/LEFTpg.png'); 
    background-size: cover; 
    background-position: center;

}  */

.form{
    position: relative;
    align-items: first baseline;
    padding: 20px;
    bottom: 120px;
    justify-content: center;
    align-items: center;
}

/* .hi{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
    border-radius: 10px;
} */

/* .page1{
    width: 100%; /* Set the width as per your requirements */
       /* Set the height as per your requirements */
      /* background-color: #f0f0f0; Set a background color as a fallback */
       /* Adjust background position property as needed */
      /* border: 1px solid #ccc; */


      .page2{
        position: relative;
        width: 100%;
        height: 520px ;
        top: 4px;
        left: 0;
        bottom: 0;
        transform-origin: left;
        transition: transform 0.5s;
        border-radius: 10px;
        background-image: url('./img/RIGHTpg\(new\).png'); 
        background-size: cover; 
        background-position: center;
        padding-bottom: 45px;
      }

      .page3{
        position: absolute;
        width: 100%;
        height: 520px;
        top: 4px;
        left: 0;
        padding: 20px;
        transform-origin: left;
        transition: transform 0.5s;
        border-radius: 10px;
        background-image: url('./img/RIGHTpg\(new\).png'); 
        background-size: cover; 
        background-position: center;
        padding-bottom: 40px;
        padding-left: 10px;
      }

      .page4{
        /* background-color:bisque;  */
         position: absolute;
        width: 100%;
        height: 520px;
        top: 4px;
        left: 0;
        /* right: 10px; */
        transform-origin: left;
        transition: transform 0.5s;
        border-radius: 10px;
        background-image: url('./img/RIGHTpg\(new\).png'); 
        background-size: cover; 
        background-position: center;
      }


      .bg1{
        position: relative;
        width: 385px;
        height: 530px;
        top: 5px;
        /* left: 0; */
        /* right: 0; */
        /* right: 30; */
        transform-origin: left;
        transition: transform 0.5s;
      }


      .question{
        font-family: Caveat;
        font-size: x-large;
        padding: 10px;
        color: #0e0e0e;


       /* url('path/to/james-fajardo.woff') format('woff'); */
      }


      .underlined{
        border: none;
        border-bottom: 1px solid #632d06; /* Change color as needed */
        outline: none; /* Remove the default input focus outline */
        text-align: left;
        text-decoration: solid;
        width: 300px;
        height: 40px;
        background-color: rgba(255, 255, 255, 0); /* Adjust the alpha value as needed */
        /* border: 1px solid #000; Add a border for better visibility */
        padding: 5px;
        font-family: Caveat;
        font-size: larger;
        font-weight: bold;
        color: #0e0e0e;
      }

      #submitall{
        position: relative;
        color: #0e0e0e;
        font-family: Caveat;
        font-weight:bolder;
        font-size: larger;
        align-items: center;
        justify-content: center;
        left: 110px;
        top: 30px;
        border: 1px #632d06;
        /* text-decoration :underline; */
        /* border-radius: 30px; */
        border-bottom: 1px solid #632d06;
        padding: 2px;

      }

      .prev{
        
            width: 50px;
            height: 50px;
            color: gray;
        
      }